.global-content {
  @include page();
  overflow: hidden;
  background-color: #fff;
  > .page {
    @include page();
    @include breakpoint(desktop) {
      width: $desktopSiteWidth;
    }
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - #{$footerHeight} - #{$headerHeight});
    > .content {
      @include page();
      @include breakpoint(desktop) {
        padding-top: 0;
        padding-bottom: 0;
      }
      display: block;
      padding-top: 5vw;
      padding-bottom: 5vw;
    }
  }
}
