$mobileSiteWidth: 411px;
$desktopSiteWidth: 1280px;

$headerHeight: 72px;
$footerHeight: 633px;
$desktopHeaderHeight: 100px;
$desktopFooterHeight: 100px;
$desktopWpHeaderHeight: 32px;
$coinHeaderHeight: 130px;

/* Common max-width for many components for container width of 375px */
$mobileComponentMaxWidth: 345px;

$bg: #172341;
$black: #000000;
$bright-lime: #7cee00;
$red: #ff0000;
$dark: #161f36;
$nav-bg: #1c284a;
$dark-highlight: #1a223f;
$pale-grey: #f2f5fa;
$soft-blue: #608ad8;
$dark-blue-grey: #19284d;
$white: #ffffff;
$very-light-pink: #d8d8d8;
$lightning-yellow: #fcc117;
$cyan: #00d3a4;
$salmon: #ff7c7c;
$event-card-bg: #243256;
